body {
    font-family: "Atlas Grotesk Web", sans-serif;
}
.grid_nav {
    padding-left: 50px;
    display: grid;
    background-color: #f5f5f5;
}
.nav_item {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
}
.logo {
    color: #7293aa;
    font-size: 25px;
    text-align: center;
    padding-top: 22px;
}
.grid_item1 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 20%);
}
.nav {
    padding-top: 30px;
    padding-left: 12px;
    font-size: 16px;
}
.nav:hover {
    text-shadow: 0 0 3px #000;
}
.grid_item3 {
    display: grid;
    justify-content: right;
    grid-template-columns: 1fr 1fr;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main_img {
    padding-left: 50px;
    align-items: center;
}
.dots {
    display: flex;
    gap:5px;
    justify-content: center;
    color: lightgray;
}
.dot:hover {
    color: gray;
}
.main_img img {
    width: 85%;
    height: 95%;
}
.main_heading {
    padding-top: 30px;
    font-size: 30px;
    color: #009697;
}
h1 {
    font-weight: 100;
}
span {
   border-bottom: 1px solid #009697;
}
input {
    width: 35%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
button {
    background-color: #009697;
    color: white;
    width: 20%;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.main_eye {
    color: #a5823d;
}
.main_eye:hover {
    color: #e7a729;
}
.main_eye p {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 800;
}
.tranding {
    display: grid;
}
.tranding h2 {
    color: #e7a729;
    font-size: 18px;
}
.pics {
    display: grid;
    grid-template-columns: repeat(9, 11.5%);
    justify-content: center;
}
figure img {
    width: 100%;
    height: 100px;
}
figcaption {
    font-size: 12px;
    text-align: center;
}
main {
    width: 100%;
}
.first_article {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 100%;
}
.first_block {
    grid-column: 1 / 3;
    justify-self: center;
    width: 35%;
}
.first_block h2 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}
.first_block span {
    border-bottom: 1px solid black;
}
.first_block p {
    font-size: 18px;
}
.second_block,
.third_block {
    justify-self: center;
    width: 70%;
    font-size: 18px;
}
.second_block img {
    width: 80%;
}
.third_block img {
    width: 80%;
}
.second_article {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
}
.images {
    display: grid;
    justify-content: space-around;
    width: 100%;
    grid-template-columns: 60% 40%;
}
.big_img {
    grid-row: 1/4;
    justify-items: center;
}
.big_img img {
    width: 100%;
}
.sm_img {
    justify-items: center;
    align-self: center;
}
.sm_img img {
    width: 80%;
}
.text {
    width: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.text_header h2 {
    color: #a5823d;
    font-size: 35px;
}
.text_article p {
    font-size: 20px;
    line-height: 30px;
}
.text_signature {
    display: flex;
    justify-content: center;
}
.text_signature img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.text_signature p {
    font-style: italic;
}
.arrow_right {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #a5823d;
    color: white;
    margin-left: 90%;
    margin-top: 15%;
}
.arrow_right:hover {
    opacity: 0.6;
}
.arrow_right p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 30%;
}
.arrow_left {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #a5823d;
    color: white;
    margin-left: 1%;
    margin-top: 15%;
}
.arrow_left:hover {
    opacity: 0.6;
}
.arrow_left p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 30%;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    justify-content: center;
    padding-left: 33%;
}
.buttons button {
    width: 200px;
    height: 50px;
}
.gold_button button {
    background-color: #a5823d;
    font-size: 14px;
}
.gold_button:hover {
    opacity: 0.6;
}
.white_button button {
    background-color: white;
    border: 2px solid #a5823d;
    color: #a5823d;
    font-size: 14px;
}
.third_article_header h2 {
    padding-left: 10%;
    padding-top: 3%;
    font-size: 30px;
    font-weight: 300;
}
.third_article_header span {
    border-bottom: 2px solid black;
}
.third_article_text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 13%;
}
.third_article_text p {
    width: 70%;
}
.third_article_text button {
    width: 150px;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 13px;
}
.slider {
    margin: 0;
    padding-top: 30px;
    display: grid;
    width: 100%;
    gap: 40px;
    grid-template-columns: 0.75fr 1.25fr 1.25fr 0.75fr;
}
.hidden1 {
    color: rgb(0,0,0,0);
    position: absolute;
    top: 291%;
    left: 20.3%;
    width: 28.5%;
    height: 45%;
}
.hidden2 {
    color: rgb(0,0,0,0);
    position: absolute;
    top: 291%;
    left: 51.2%;
    width: 28.5%;
    height: 45%;
}
.slider figure {
    margin: 0;
}
.slider img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.hidden1:hover {
    display: block;
    background-color: rgb(0,100,0,0.5);
    color: white;
    font-size: 20px;
}
.hidden1:hover h3 {
    opacity: 1;
    padding-left: 10%;
    padding-top: 10%;
}
.hidden1:hover p {
    padding-left: 10%;
}
.hidden2:hover {
    display: block;
    background-color: rgb(0,100,0,0.5);
    color: white;
    font-size: 20px;
}
.hidden2:hover h3 {
    opacity: 1;
    padding-left: 10%;
    padding-top: 10%;
}
.hidden2:hover p {
    padding-left: 10%;
}
.slider figcaption {
    font-style: italic;
    text-align: left;
}
.rating_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.star_rating {
    position: relative;
    display: inline-block;
    padding-left: 43%;
    font-size: 40px;
}
.star_rating span {
    border-bottom: none;
}
.rating:hover,
.rating:hover ~ .rating_label,
.rating:checked ~ .rating:hover {
    color: #e7a729;
}
.star_rating_text {
    text-align: center;
    padding-top: 1%;
}
.fourth_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    padding-left: 10%;
}
.background_image {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    opacity: 0.5;
    width: 530px;
    height: 400px;
}
.fourth_article_link {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 100%;
    display: grid;
}
.fourth_article_link h3 {
    color:#009697;
    font-size: 35px;
    text-align: center;
    position: absolute;
    padding-top: 4%;
    padding-left: 3%;
}
.fourth_article_link p {
    text-align: center;
    padding-left: 3.7%;
    font-size: 20px;
    position: absolute;
    padding-top: 13%;
}
.fourth_article_link a {
    color: #a5823d;
    text-decoration-style: dashed;
    font-size: 30px;
    text-align: center;
    position: absolute;
    padding-top: 24%;
    padding-left: 15%;
}
.fourth_article_tips {
    border-top: 1px solid lightgray;
    display: grid;
}
.fourth_article_section {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.fourth_article_section img {
    width: 60px;
    grid-row: 1/3;
    height: 90px;
    padding-left: 40px;
}
.fourth_article_section:hover p {
    color: #009697;
}
.fourth_article_tips p {
    width: 80%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
    padding-bottom: 0;
}
.fourth_article_tips span {
    font-size: 14px;
    color: lightgray;
    top: 0;
    border-bottom: 0;
}
.fourth_article_tips h3 {
    padding-left: 3%;
}
footer {
    width: 100%;
    background-color:  #f5f5f5;
    display: grid;
    margin-top: 10px;
}
.footer_section_one {
    width: 90%;
    border-bottom: 1px solid lightgray;
    margin-left: 5%;
}
.footer_section_one p {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: lightgray;
}
.footer_section_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 15%;
    margin-top: 4%;
}
.footer_section_two p:hover {
    color: #e7a729;
}
html,body {overflow-x:hidden} 
.footer_section_two span {
    color: #7293aa;
    font-weight: 700;
    border-bottom: none;
}
.footer_menu {
    display: grid;
    gap: 0;
    padding: 0;
    font-size: 15px;
}
.footer_menu p {
    line-height: 0;
}
.footer_section_three {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 3%;
    width: 90%;
    border-top: 1px solid lightgray;
    margin-left: 5%;
    color: lightgray
}
.footer_section_three span {
    border-bottom: none;
    color: #7293aa;
    font-weight: 700;
    text-align: center;
    padding-top: 10%;

}